.own-message {
  align-self: flex-end;
  margin: 20px;
  border: 1px solid black;
  /* min-height: 100px; */
  height: max-content;
  width: max-content;
  /* max-width: 500px; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(230, 230, 230);
}

.message-body {
  margin-left: 10px;
  width: max-content;
  max-width: 300px;
}

.message-text {
  padding-top: 5px;
}

.message-metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.message-edit, .message-delete {
  color: grey;
  cursor: pointer;
}

.message-edit :hover, .message-delete :hover {
  color: rgb(61, 61, 61);
}
