.own-message-container {
  display: flex;
  flex-direction: column;
}

.message-list {
  margin-top: 15px;
  border: 1px solid black;
  width: 1200px;
  height: 600px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
