.header {
  margin-top: 50px;
  border: 1px solid black;
  height: 100px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}