.message {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid black;
  height: max-content;
  width: max-content;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(230, 230, 230);
  align-self: flex-start;
}

.message-user-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.message-body {
  margin-left: 10px;
  width: max-content;
  max-width: 300px;
}

.message-user-name {
  color: rgb(230, 77, 39);
  font-weight : bold;
}

.message-text {
  padding-top: 5px;
}

.message-time {
  text-align: right;
}

.message-metadata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.message-like, .message-liked, .edit-message  {
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.message-like, .message-liked {
  height: 20px;
  width: 20px;
  background-color: rgb(230, 230, 230);
  margin-bottom: 10px;
}

.message-liked {
  color: red;
}

.message-like :hover, .edit-message :hover {
  color: rgb(61, 61, 61);
}
